<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for(Post.new) do |form| %>
  <p><%= form.label("Tytuł") %></p>
  <p><%= form.text_field("title") %></p>
  <p><%= form.label("Treść") %></p>
  <p><%= form.text_area("content") %></p>
  <p><%= form.label("Data") %></p>
  <p><%= form.text_field("date") %></p>
  <p><%= form.submit %></p>
<% end %>
<p><%= link_to("Wróć do listy postów", posts_path) %></p>
